<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />

	<title>Home</title>
</head>
<body>
	<br />
	<br />
	<br />

	<div class="container">

		@Html.ActionLink("Sample of File Manager", MVC.Sample.Index())

	</div>
</body>
</html>
