div.file-manager {
	font-size: 8pt;
	margin-bottom: 100px;
}

	div.file-manager hr {
		margin-top: 10px !important;
		margin-bottom: 10px !important;
	}

	div.file-manager label {
		font-size: 8pt;
		padding-left: 4px;
		padding-right: 4px;
		/*padding-top: 8px;
		padding-bottom: 8px;*/
	}

	div.file-manager div.path {
		margin-top: 10px;
	}

	div.file-manager div.buttons {
		margin-top: 10px;
	}

	div.file-manager div.upload_file {
		margin-top: 10px;
	}

	div.file-manager div.directories-area-buttons {
		margin-top: 10px;
	}

	div.file-manager div.files-area-buttons {
		margin-top: 10px;
	}
