<div id="loadingDialog" style="z-index: 5000" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="loadingDialogLabel" aria-hidden="true">

	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<h4 class="modal-title" id="loadingDialogLabel">Loading...</h4>
			</div>

			<div class="modal-body">
				Loading... Please Wait!
			</div>

		</div>
	</div>

</div>
