<div class="files-area">

	<hr />

	@Html.Partial(MVC.Shared.Views.PartialViews.MvcFileManager._Partial_FilesArea_SortingAndFiltering)

	@Html.Partial(MVC.Shared.Views.PartialViews.MvcFileManager._Partial_FilesArea_Buttons)

	@Html.Partial(MVC.Shared.Views.PartialViews.MvcFileManager._Partial_FilesArea_Table)

</div>
