<div class="row buttons">

	<div class="col-sm-12">

		<button class="btn btn-default btn-xs" data-ng-click="clickOnRefreshButton()">Refresh</button>
		<button class="btn btn-default btn-xs" data-ng-click="clickOnToggleSlideDirectoriesButton()" id="btnToggleSlideDirectories">Hide Directories</button>
		<button class="btn btn-default btn-xs" data-ng-click="clickOnToggleSlideFilesButton()" id="btnToggleSlideFiles">Hide Files</button>
		<button class="btn btn-default btn-xs" data-ng-click="clickOnSelectAllButton()">Select All</button>
		<button class="btn btn-default btn-xs" data-ng-click="clickOnDeselectAllButton()">Deselect All</button>
		<button class="btn btn-default btn-xs" data-ng-click="clickOnToggleAllButton()">Toggle All</button>
		<button class="btn btn-primary btn-xs" data-ng-click="clickOnCompressButton()">Compress</button>
		<button class="btn btn-primary btn-xs" data-ng-click="clickOnDecompressButton()">Decompress</button>
		<button class="btn btn-danger btn-xs" data-ng-click="clickOnDeleteButton()">Delete</button>
		<button class="btn btn-info btn-xs" data-ng-click="clickOnInfoButton()">Info</button>

	</div>

</div>
