<div class="row path">

	<div class="col-sm-12">

		<span data-ng-repeat="item in pathCollection">
			[<a href="#" onclick="return (false);" data-ng-click="clickOnPath(item)">{{ item.Name }}</a>]
		</span>

	</div>

</div>
