<div class="row directories-area-buttons">

	<div class="col-sm-12">

		<button class="btn btn-default btn-xs" data-ng-click="clickOnSelectDirectoriesButton()">Select Directories</button>
		<button class="btn btn-default btn-xs" data-ng-click="clickOnDeselectDirectoriesButton()">Deselect Directories</button>
		<button class="btn btn-default btn-xs" data-ng-click="clickOnToggleDirectoriesButton()">Toggle Directories</button>
		<button class="btn btn-default btn-xs" data-ng-click="clickOnCreateDirectoryButton()">Create Directory</button>

	</div>

</div>
