<div class="directories-area">

	<hr />

	@Html.Partial(MVC.Shared.Views.PartialViews.MvcFileManager._Partial_DirectoriesArea_SortingAndFiltering)

	@Html.Partial(MVC.Shared.Views.PartialViews.MvcFileManager._Partial_DirectoriesArea_Buttons)

	@Html.Partial(MVC.Shared.Views.PartialViews.MvcFileManager._Partial_DirectoriesArea_Table)

</div>
