<div class="row files-area-buttons">

	<div class="col-sm-12">

		<button class="btn btn-default btn-xs" data-ng-click="clickOnSelectFilesButton()">Select Files</button>
		<button class="btn btn-default btn-xs" data-ng-click="clickOnDeselectFilesButton()">Deselect Files</button>
		<button class="btn btn-default btn-xs" data-ng-click="clickOnToggleFilesButton()">Toggle Files</button>

	</div>

</div>
